<VirtualHost *:80>
        ServerName {{ hostvars.localhost.source.domain }}
{% if hostvars.localhost.source.alias is defined %}
{% for alias in hostvars.localhost.source.alias %}
        ServerAlias {{ alias }}
{% endfor %}
{% endif %}

        ProxyPreserveHost On
        ProxyPass / http://{{ hostvars.localhost.target.host }}/
        ProxyPassReverse / http://{{ hostvars.localhost.target.host }}/
</VirtualHost>

{% if hostvars.localhost.source.ssl is defined %}
<IfModule mod_ssl.c>
<VirtualHost *:443>
        ServerName {{ hostvars.localhost.source.domain }}
{% if hostvars.localhost.source.alias is defined %}
{% for alias in hostvars.localhost.source.alias %}
        ServerAlias {{ alias }}
{% endfor %}
{% endif %}

        SSLEngine On
        SSLCertificateFile /etc/letsencrypt/live/{{ hostvars.localhost.source.domain }}/cert.pem
        SSLCertificateKeyFile /etc/letsencrypt/live/{{ hostvars.localhost.source.domain }}/privkey.pem
        SSLCertificateChainFile /etc/letsencrypt/live/{{ hostvars.localhost.source.domain }}/fullchain.pem

#        SSLCertificateFile /etc/acmephp//{{ hostvars.localhost.source.domain }}/public/cert.pem
#        SSLCertificateKeyFile /etc/acmephp//{{ hostvars.localhost.source.domain }}/private/key.private.pem
#        SSLCertificateChainFile /etc/acmephp//{{ hostvars.localhost.source.domain }}/public/fullchain.pem

        SSLProxyEngine on
        SSLProxyVerify none
        SSLProxyCheckPeerCN off
{% if apache_version.stdout is version('2.4', '>=') %}
        SSLProxyCheckPeerName off
{% endif %}
        SSLProxyCheckPeerExpire off

        ProxyPreserveHost On
        ProxyPass / https://{{ hostvars.localhost.target.host }}/
        ProxyPassReverse / https://{{ hostvars.localhost.target.host }}/
</VirtualHost>
</IfModule>
{% endif %}
